In [1]:
import pandas as pd
from datetime import datetime
import matplotlib
import json

In [2]:
# Must keep header none to drop breaklines
scored_tweets = pd.read_json("datasources/cleaned_scored_tweets.json")
scored_tweets

,created_at,created_date,weekday,hours,tweet,text,score
0,1970-01-01 00:27:15.728396+00:00,2021-11-01,Monday,0,@lj3252 @Teslarati @ResidentSponge Cars since ...,"[car, hardware, needed, self, driving, elon, lie]",0
1,1970-01-01 00:27:15.728393+00:00,2021-11-01,Monday,0,@elonmusk @garycruz @truth_tesla @zshahan3 @ga...,"[hi, trying, startup, innovating, app, share, ...",1
2,1970-01-01 00:27:15.728386+00:00,2021-11-01,Monday,0,@AgnesOfTheDogs @Tesla @telsa Indeed! I have n...,"[real, interest, driving, ginormous, overheati...",1
3,1970-01-01 00:27:15.728381+00:00,2021-11-01,Monday,0,@elonmusk @garycruz @truth_tesla @zshahan3 @ga...,"[hi, trying, startup, innovating, app, share, ...",1
4,1970-01-01 00:27:15.728377+00:00,2021-11-01,Monday,0,Elon Musk says heâ€™ll sell Tesla stock if UN of...,"[elon, musk, say, hell, sell, tesla, stock, un...",0
...,...,...,...,...,...,...,...
76151,2021-11-14 23:51:47+00:00,2021-11-14,Sunday,23,@jimmyjamesred @outbacktesla @teslaownersau @T...,[model],1
76152,2021-11-14 23:51:39+00:00,2021-11-14,Sunday,23,@natalmi7 @themostpositive @u2nyr @Prof_JermZ ...,"[turned, tesla, world's, largest, ev, company,...",0
76153,2021-11-14 23:51:38+00:00,2021-11-14,Sunday,23,@jimcramer ðŸ¤£ Fisker in the same category with ...,"[fisker, category, tesla, rivian, lucid, joke,...",1
76154,2021-11-14 23:51:37+00:00,2021-11-14,Sunday,23,@elonmusk @SenSanders instead of getting bank ...,"[instead, getting, bank, loan, stock, yearly, ...",0
76155,2021-11-14 23:51:32+00:00,2021-11-14,Sunday,23,@BigFunkyJ Imagine your job being a tesla boot...,"[imagine, job, tesla, bootlicking, journalist]",1

In [3]:
scored_tweets.dtypes

created_at      datetime64[ns, UTC]
created_date                 object
weekday                      object
hours                         int64
tweet                        object
text                         object
score                         int64
dtype: object

In [4]:
# # Change column names and reorder columns
# scored_tweets.columns = ['created_date','weekday','hours','id','tweet', 'score']
# scored_tweets

In [8]:
hourly_sample = scored_tweets.groupby(["created_at","hours"], sort=False).sample(n=200, random_state=1)
hourly_sample

,created_at,created_date,weekday,hours,tweet,text,score
38715,2021-11-08 00:50:18+00:00,2021-11-08,Monday,0,@elonmusk Elon is going to sell the Tesla stoc...,"[elon, going, sell, tesla, stock, buy, btc, pr...",1
125,2021-11-01 00:52:50+00:00,2021-11-01,Monday,0,@SawyerMerritt @elonmusk @Tesla How much? Do w...,"[information, contractor, v, employee, work, t...",0
38645,2021-11-08 00:54:18+00:00,2021-11-08,Monday,0,"I am gonna tell my kids that, this man was the...","[gonna, tell, kid, man, ceo, tesla]",1
38656,2021-11-08 00:53:23+00:00,2021-11-08,Monday,0,@JCDentonNetRnnr @RonWyden Do you know how muc...,"[know, government, aid, tesla, got, owes, enti...",0
172,2021-11-01 00:50:18+00:00,2021-11-01,Monday,0,3 eps in on You and this man Joe off a tesla,"[eps, man, joe, tesla]",1
...,...,...,...,...,...,...,...
38414,2021-11-07 23:55:36+00:00,2021-11-07,Sunday,23,@usckevinnguyen @RonMadison11 @JayKim_1204 Tes...,"[tesla, announce, split, happens, day, later, ...",1
38459,2021-11-07 23:53:56+00:00,2021-11-07,Sunday,23,A summery of the week of Elon. #tesla $tsla ht...,"[summery, week, elon, tesla, tsla]",1
38387,2021-11-07 23:57:05+00:00,2021-11-07,Sunday,23,@elonmusk So let me try to understand youâ€™re t...,"[let, try, understand, youre, threat, youre, g...",0
38483,2021-11-07 23:52:13+00:00,2021-11-07,Sunday,23,@PolicyRiot @elonmusk @Tesla Nobody sees this ...,"[see, responsive, populist, aside, moron, thin...",1
38388,2021-11-07 23:57:02+00:00,2021-11-07,Sunday,23,@ShiborgToken @elonmusk @Tesla Rooting for this!,[rooting],1

In [9]:
hourly_sample.to_json("datasources/first_week_data.json", orient="records")