In [1]:
import pandas as pd
from datetime import datetime
import matplotlib
import json

In [2]:
# Must keep header none to drop breaklines
scored_tweets = pd.read_csv("datasources/scored_tweets.csv", header=None, skiprows= [0])
scored_tweets

,0,1,2,3,4,5
0,2021-10-30,Saturday,0,1454251694813065222,We closed the week strong thanks to #tesla. Wh...,1
1,2021-10-30,Saturday,0,1454251685476376580,30-10-2021 02:00:01 https://t.co/QSSPnxvGl1 #B...,1
2,2021-10-30,Saturday,0,1454251626231906308,"Yeah, so I actually closed out all my position...",0
3,2021-10-30,Saturday,0,1454251613518970880,Well done\nWon a #Tesla \n#wrapped buy #BabyDo...,1
4,2021-10-30,Saturday,0,1454251609760935939,@JilianneParker @Tesla Facts!!,0
...,...,...,...,...,...,...
33510,2021-11-04,Thursday,23,1456406233544544267,@Jon4Lakers @Tesla @elonmusk I love my @Tesla!!!,1
33511,2021-11-04,Thursday,23,1456406218998697989,@BerkmanOnlyfans @JordanUhl Not only that but ...,0
33512,2021-11-04,Thursday,23,1456406216222003203,@TomGardnerFool @AndyCCross @asitmap Mine are ...,1
33513,2021-11-04,Thursday,23,1456406190812975106,@ciphar_TheViper @elonmusk @Tesla @SpaceX @bor...,1
33514,2021-11-04,Thursday,23,1456406172739702786,@MoosaviNafas @elonmusk @RealSkyWatcher @thesh...,1

In [3]:
scored_tweets.dtypes

0    object
1    object
2     int64
3     int64
4    object
5     int64
dtype: object

In [4]:
# Change column names and reorder columns
scored_tweets.columns = ['created_date','weekday','hours','id','tweet', 'score']
scored_tweets

,created_date,weekday,hours,id,tweet,score
0,2021-10-30,Saturday,0,1454251694813065222,We closed the week strong thanks to #tesla. Wh...,1
1,2021-10-30,Saturday,0,1454251685476376580,30-10-2021 02:00:01 https://t.co/QSSPnxvGl1 #B...,1
2,2021-10-30,Saturday,0,1454251626231906308,"Yeah, so I actually closed out all my position...",0
3,2021-10-30,Saturday,0,1454251613518970880,Well done\nWon a #Tesla \n#wrapped buy #BabyDo...,1
4,2021-10-30,Saturday,0,1454251609760935939,@JilianneParker @Tesla Facts!!,0
...,...,...,...,...,...,...
33510,2021-11-04,Thursday,23,1456406233544544267,@Jon4Lakers @Tesla @elonmusk I love my @Tesla!!!,1
33511,2021-11-04,Thursday,23,1456406218998697989,@BerkmanOnlyfans @JordanUhl Not only that but ...,0
33512,2021-11-04,Thursday,23,1456406216222003203,@TomGardnerFool @AndyCCross @asitmap Mine are ...,1
33513,2021-11-04,Thursday,23,1456406190812975106,@ciphar_TheViper @elonmusk @Tesla @SpaceX @bor...,1
33514,2021-11-04,Thursday,23,1456406172739702786,@MoosaviNafas @elonmusk @RealSkyWatcher @thesh...,1

In [6]:
scored_tweets.to_csv("datasources/scored_data.csv", index=True)

In [8]:
scored_tweets.to_json("datasources/scored_data.json", orient="records")

In [11]:
hourly_sample = scored_tweets.groupby(["weekday","hours"]).sample(n=200, random_state=1)

In [12]:
hourly_sample.to_csv("datasources/hourly_sample.csv", index=True)

In [13]:
hourly_sample.to_json("datasources/hourly_sample.json", orient="records")